export(PFP)
export(NBI)
export(NUEcrop)
export(PNB)
export(AE)
export(NRE)
export(PE)
export(IE)
export(NUtE)
export(NHI)
export(NUEsoil)
export(NUpE)
export(NUEyield)
export(NUEbal)
export(NdfF)
export(TNdfF)
export(NRE15)
export(NP)
export(ecoNUE)
export(sNBI)
export(sNUE)
export(NUEFC)
export(VNF)
